.sidebar-logo{
  width: 60px;
  height: 80px;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85dvh;
  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.menu-title{
  display: flex;
  align-items: center;
  background-color: #2a2c36;
  border-radius: 50%;
  padding: 8px;
}
